[Unit]
Description=Update dns record on cloudflare with the current ip every 5 min
Requires=update-cloudflare-dns.service

[Timer]
Unit=update-cloudflare-dns.service
OnCalendar=*-*-* *:0,5,10,15,20,25,30,35,40,45,50,55:00

[Install]
WantedBy=timers.target